<form class="{{cssClass}}" autocomplete="off">
    <div id="cat-sheet" class="sl-cat-sheet">
        <div id="slcs-header">   
            {{>slcs-portrait}}
            {{>slcs-basic-attributes}}
            {{>slcs-secondary-attributes}}
            {{>slcs-hpfp}}
            {{>slcs-modifierlist}}
        </div>
        <nav id='slcs-navtabs' class='slcs-sheet-tabs' data-group='primary-tabs'>
            <li><a class='tab-item' data-tab='combat'>{{i18n 'GURPS-cat-sheet.combatTab' 'Combat'}}</a></li>
            <li><a class='tab-item' data-tab='exploration'>{{i18n 'GURPS-cat-sheet.explrationTab' 'Exploration & Stealth'}}</a></li>
            <li><a class='tab-item' data-tab='social'>{{i18n 'GURPS-cat-sheet.socialTab' 'Social'}}</a></li>
            <li><a class='tab-item' data-tab='technical'>{{i18n 'GURPS-cat-sheet.technicalTab' 'Technical & Reseach'}}</a></li>
            <li><a class='tab-item' data-tab='powers'>{{i18n 'GURPS-cat-sheet.powersTab' 'Powers & Magic'}}</a></li>
            <li><a class='tab-item' data-tab='others'>{{i18n 'GURPS-cat-sheet.othersTab' 'Others'}}</a></li>
            <li><a class='tab-item' data-tab='equipment'>{{i18n 'GURPS-cat-sheet.equipmentTab' 'Equipment'}}</a></li>
        </nav>
        <div id="slcs-main">
            <div class='tab' data-tab='combat' data-group='primary-tabs'>
                <div id="slcs-combat-tab" class='slcs-tab-content'>
                    {{>slcs-conditions section='combat'}}
                    <div id='slcs-col1' class ='slcs-col'>
                        {{>slcs-skills skills=categories.combat.skills}}
                        {{>slcs-advantages ads=categories.combat.ads}}
                    </div>
                    <div id='slcs-col2' class ='slcs-col'>
                        <nav id='slcs-combattabs' class='slcs-sheet-tabs' data-group='combat-tabs'>
                            <li><a class='tab-item' data-tab='melee'>{{i18n 'GURPS-cat-sheet.meleeTab' 'Melee'}}</a></li>
                            <li><a class='tab-item' data-tab='ranged'>{{i18n 'GURPS-cat-sheet.rangedTab' 'Ranged'}}</a></li>
                            <li><a class='tab-item' data-tab='defences'>{{i18n 'GURPS-cat-sheet.defencesTab' 'Defences'}}</a></li>                            
                            <li><a class='tab-item' data-tab='criticals'>{{i18n 'GURPS-cat-sheet.defencesTab' 'Criticals'}}</a></li>                            
                        </nav>
                        <div id="slcs-combatContent">
                            <div class='tab' data-tab='melee' data-group='combat-tabs'>
                                <div class="col-tabcontent">                             
                                    {{>slcs-melee-weapons}}
                                    {{>slcs-target targets=targets}}
                                </div>
                            </div>
                            <div class='tab' data-tab='ranged' data-group='combat-tabs'>
                                <div class="col-tabcontent">                             
                                    {{>slcs-ranged-weapons}}
                                    {{>slcs-target targets=targetsRanged}}
                                </div>
                            </div>
                            <div class='tab' data-tab='defences' data-group='combat-tabs'>
                                <div class="col-tabcontent">                             
                                    {{>slcs-defences}}
                                </div>
                            </div>
                            <div class='tab' data-tab='criticals' data-group='combat-tabs'>
                                <div class="col-tabcontent">                             
                                    {{>slcs-criticalRolls}}
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class='tab' data-tab='exploration' data-group='primary-tabs'>
                <div id="slcs-exploration-tab" class='slcs-tab-content'>
                    {{>slcs-conditions section='exploration'}}
                    <div id='slcs-col1' class ='slcs-col'>
                        {{>slcs-skills skills=categories.exploration.skills}}
                        {{>slcs-advantages ads=categories.exploration.ads}}
                    </div>
                    <div id='slcs-col2' class ='slcs-col'>
                        {{>slcs-lifting}}
                    </div>    
                </div>                
            </div>
            <div class='tab' data-tab='social' data-group='primary-tabs'>
                <div id="slcs-social-tab" class='slcs-tab-content'>
                    <div id='slcs-col1' class ='slcs-col'>
                        {{>slcs-skills skills=categories.social.skills}}
                        {{>slcs-advantages ads=categories.social.ads}}
                    </div>
                    <div id='slcs-col2' class ='slcs-col'>
                        {{>slcs-description}}
                        {{>slcs-reactions}}
                    </div>    
                </div>                
            </div>
            <div class='tab' data-tab='technical' data-group='primary-tabs'>
                <div id="slcs-technical-tab" class='slcs-tab-content'>
                    <div id='slcs-col1' class ='slcs-col'>
                        {{>slcs-skills skills=categories.technical.skills}}
                        {{>slcs-advantages ads=categories.technical.ads}}
                    </div>
                    <div id='slcs-col2' class ='slcs-col'>
                        {{>slcs-lifting}}
                    </div>    
                </div>                
            </div>
            <div class='tab' data-tab='powers' data-group='primary-tabs'>
                <div id="slcs-powers-tab" class='slcs-tab-content'>
                    <div id='slcs-col1' class ='slcs-col'>
                        {{>slcs-skills skills=categories.powers.skills}}
                        {{>slcs-advantages ads=categories.powers.ads}}
                    </div>
                    <div id='slcs-col2' class ='slcs-col'>
                        {{>slcs-spells}}
                    </div>    
                </div>                   
            </div>
            <div class='tab' data-tab='others' data-group='primary-tabs'>
                <div id="slcs-others-tab" class='slcs-tab-content'>
                    <div id='slcs-col1' class ='slcs-col'>
                        {{>slcs-skills skills=categories.others.skills}}
                        {{>slcs-advantages ads=categories.others.ads}}
                    </div>
                    <div id='slcs-col2' class ='slcs-col'>
                    </div>    
                </div>                    
            </div>
            <div class='tab' data-tab='equipment' data-group='primary-tabs'>
                <div id="slcs-equipment-tab" class='slcs-tab-content'>
                    {{>slcs-equipment container='carried'}}
                    {{>slcs-equipment container='other'}}
                </div>
            </div>
        </div>
    </div>
</form>
 