<section class="slcs-generalTab tab {{tab.cssClass}}" data-group="primary" data-tab="general">
    <div  class="slcs_col col1">
        <h3 class="slcs-modifiers-title">Modifier options</h3>
        <div class="slcs-settingsBlock slcs-block {{#if limitedEditing}}double{{else}}single{{/if}}">
            <div class='label'>Use extra effort</div>
            {{#unless limitedEditing}}
                <input type="checkbox" class="slcs-extra-effort" name="settings.allowExtraEffort" {{checked settings.allowExtraEffort}}/>
            {{else}}
                <input type="checkbox" class="slcs-extra-effort" name="settings.allowExtraEffort"
                    {{disabled (eq settings.allowExtraEffort null)}} 
                    {{#if (eq settings.allowExtraEffort null)}}{{checked globalSettings.allowExtraEffort}}{{else}}{{checked settings.allowExtraEffort}}{{/if}}/>
                <div class='label global-setting'>Use global setting</div>
                <input type="checkbox" name="settings.allowExtraEffortGlobal" {{checked (eq settings.allowExtraEffort null)}}/>            
            {{/unless}}
        </div>
        
        <h3 class="slcs-display-title">Display options</h3>
        <div class="slcs-settingsBlock slcs-block {{#if limitedEditing}}double{{else}}single{{/if}}">
            <div class='label'>Hide attacks/defences from weapons not hold</div>
            {{#unless limitedEditing}}
                <input type="checkbox" class="slcs-hide-inactive" name="settings.hideInactiveAttacks" {{checked settings.hideInactiveAttacks}}/>
            {{else}}
                <input type="checkbox" class="slcs-hide-inactive" name="settings.hideInactiveAttacks" 
                    {{disabled (eq settings.hideInactiveAttacks null)}} 
                    {{#if (eq settings.hideInactiveAttacks null)}}{{checked globalSettings.hideInactiveAttacks}}{{else}}{{checked settings.hideInactiveAttacks}}{{/if}}/>
                <div class='label global-setting'>Use global setting</div>
                <input type="checkbox"  name="settings.hideInactiveAttacksGlobal" {{checked (eq settings.hideInactiveAttacks null)}}/>
            {{/unless}}
            <div class='label'>Allow two handed weapons to be wielded one-handed with high Strength</div>
            {{#unless limitedEditing}}
                <input type="checkbox" class="slcs-highStrengthOneHanded" name="settings.highStrengthOneHanded" {{checked settings.highStrengthOneHanded}}/>
            {{else}}
                <input type="checkbox" class="slcs-highStrengthOneHanded" name="settings.highStrengthOneHanded" 
                    {{disabled (eq settings.highStrengthOneHanded null)}} 
                    {{#if (eq settings.highStrengthOneHanded null)}}{{checked globalSettings.highStrengthOneHanded}}{{else}}{{checked settings.highStrengthOneHanded}}{{/if}}/>
                <div class='label global-setting'>Use global setting</div>
                <input type="checkbox" name="settings.highStrengthOneHandedGlobal" {{checked (eq settings.highStrengthOneHanded null)}}/>
            {{/unless}}       
         </div>        
    </div>
    <div class="slcs_col col2">
        {{#unless limitedEditing}}
            <h3 class="slcs-rollTable-title">Roll Table names</h3>
            <div class="slcs-settingsBlock slcs-block single">
                {{#each settings.rollTables}}
                    <div class='label'>{{@key}}</div>
                    <input name='settings.rollTables.{{@key}}' class='slcs-input' type='text' value='{{this}}' />
                {{/each}}
            </div>
        {{/unless}}

        {{#if limitedEditing}}
            <h3 class="slcs-display-title">Character Setup</h3>
            <div class="slcs-settingsBlock double">
                <div class='label'>Number of Hands</div>
                <input type="number" class="slcs-number-of-hands" name="settings.numberOfHands" min="0" max="10" step="1" value="{{settings.numberOfHands}}"/>
            </div>

            <div class='slcs-emptyHandWepons gga-table slcs-block'>
                <div class='name header'>Non Equipment Weapon</div>
                <div class='usage header'>Attack</div>
                <div class='emptyHand header'>Needs Empty Hand</div>
                 {{#stripes attacksWithoutGrip 'even' 'odd' }}
                    <div class='name {{stripeClass}}'>{{name}}</div>
                    <div class='usage {{stripeClass}}'>{{usage}}</div>
                    <input type="checkbox" name="settings.emptyHandAttacks" {{checked selected}}/>
                 {{/stripes}}
            </div>
        {{/if}}
    </div>
</section>