{{#if (notEmpty meleeWeapons)}}
    <div class='slcs-melee-attacks gga-table with-notes slcs-block'>
        <div class='desc header'>{{localize  'GURPS.meleeWeapons'}}</div>
        <div class='usage header'>{{localize  'GURPS.usage'}}</div>
        <div class='level header'>{{localize  'GURPS.level'}}</div>
        <div class='damage header'>{{localize  'GURPS.damage'}}</div>
        <div class='reach header'>{{localize  'GURPS.reach'}}</div>

        {{#stripesouter meleeWeapons 'evenOuter' 'oddOuter' 'meleeList' }}
            {{#stripes meleeList 'even' 'odd'}}

                {{#if @first}}
                    <div class='meleedraggable desc {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}{{#if @last}} last{{/if}}' data-key='system.melee.{{key}}'>
                        <div class='desc dblclkedit indent{{indent}}'>
                            <div class='gga-desc-text'>{{{gurpslink ../name}}}</div>
                        </div>
                    </div>
                {{else}}
                    <div class='meleedraggable desc empty {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}{{#if @last}} last{{/if}}' data-key='system.melee.{{key}}'>
                    </div>
                {{/if}}

                <div class='usage flex-center {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}'>
                    <div  class='rollable flex-center {{#if (empty notes)}}no-notes{{/if}}' data-name='{{name}} ({{mode}})' data-key='system.melee.{{key}}' data-otf='{{quotedAttackName 'M' this}}'>
                       {{#if (eq mode "")}}{{name}}{{else}}{{mode}}{{/if}}
                    </div>
                    {{#if (notEmpty notes)}}
                        <div class='list_note'>{{{gurpslink notes}}}</div>
                    {{/if}}
                </div>
                <div class='level rollable flex-center {{stripeClass}}  {{../stripeClass}}{{#if selected}} selected{{/if}}' data-name='{{name}} ({{mode}})' data-key='system.melee.{{key}}'
                    data-otf='{{quotedAttackName 'M' this}}'>{{level}}</div>
                <div class='slcs-damage rollable flex-center {{stripeClass}}  {{../stripeClass}}{{#if selected}} selected{{/if}}' data-damage data-otf='{{damage}}'>{{damage}}</div>
                <div class='reach flex-center {{stripeClass}}  {{../stripeClass}}{{#if selected}} selected{{/if}}'>{{reach}}</div>
            {{/stripes}}
            {{#if (notEmpty notes)}}
                <div class='list_note'>{{{gurpslink notes}}}</div>
            {{/if}}
        {{/stripesouter}}
    </div>
    {{>slcs-otf-region OTFs=meleeOTFs type='melee'}}
{{/if}}
