{{#if (notEmpty ranged)}}
    <div id='slcs-ranged-attacks' class='gga-table with-notes slcs-block'>
        <div class='desc header'>{{localize  'GURPS.rangedWeapons'}}</div>
        <div class='usage header'>{{localize  'GURPS.usage'}}</div>
        <div class='level header'>{{localize  'GURPS.level'}}</div>
        <div class='acc header'>{{localize  'GURPS.acc'}}</div>
        <div class='damage header'>{{localize  'GURPS.damage'}}</div>
        <div class='range header'>{{localize  'GURPS.range'}}</div>
        <div class='rof header'>{{localize  'GURPS.rof'}}</div>
        <div class='shots header'>{{localize  'GURPS.shots'}}</div>
        <div class='bulk header'>{{localize  'GURPS.bulk'}}</div>
        <div class='rcl header'>{{localize  'GURPS.rcl'}}</div>

        {{#stripes ranged  'even' 'odd' }}
            <div class='rangeddraggable {{stripeClass}}' data-key='system.ranged.{{key}}'>
                <div class='desc dblclkedit indent{{indent}}'>
                    <div class='gga-desc-text'>{{{gurpslink this.name}}}</div>
                </div>
            </div>

            <div class='usage rollable flex-center {{stripeClass}}' data-name='{{name}} ({{mode}})' data-key='system.ranged.{{key}}' data-otf='{{quotedAttackName 'R' this}}'>{{mode}}</div>
            <div class='level rollable flex-center {{stripeClass}}' data-name='{{name}} ({{mode}})' data-key='system.ranged.{{key}}' data-otf='{{quotedAttackName 'R' this}}'>{{level}}</div>
            <div class='acc gga-right {{gmod this.acc}} {{stripeClass}}' data-name='Acc for {{this.name}}' data-otf='{{{displayNumber this.acc}}} Acc'> {{{displayNumber this.acc showPlus=false}}} </div>
            <div class='damage flex-center rollable {{stripeClass}}' data-damage data-otf='{{this.damage}}'>{{this.damage}}</div>
            <div class='range flex-center {{stripeClass}}'>{{this.range}}</div>
            <div class='rof gga-right {{stripeClass}}'>{{this.rof}}</div>
            <div class='shots flex-center {{stripeClass}}'>{{this.shots}}</div>
            <div class='bulk gga-right {{gmod this.bulk}} {{stripeClass}}' data-name='Bulk for {{this.name}}' data-otf='{{this.bulk}} Bulk' >{{{displayNumber this.bulk}}} </div>
            <div class='rcl gga-right {{stripeClass}}'>{{this.rcl}}</div>
            <div class='list_note {{stripeClass}}'>{{{gurpslink this.notes}}}</div>
        {{/stripes}}
    </div>
    {{>speed-range-table}}
{{/if}}