{{#if (notEmpty defences)}}
    <div class="slcs-defences slcs-block">
        <div class='defence-main'>
            {{#each defences}}
                <div class="group }{{#if selected}} selected{{/if}}">
                    {{#if (eq type "dodge")}}
                        <div class='label big'>{{localize  'GURPS.dodge'}}:<br/></div>
                        <div class='field big rollable' data-otf='Dodge'>{{level}}</div>
                    {{/if}}
                    {{#if (eq type "parry")}}
                        <div class='label big'>{{localize  'GURPS.parry'}}:</div>
                        <div class='field big rollable' data-otf='{{quotedAttackName 'P' attack}}'>{{level}}</div>
                        <div class='label'>
                            <div>{{{name}}}</div> 
                            <div class='list_note'>{{notes}}</div>
                        </div>
                    {{/if}}   
                    {{#if (eq type "block")}}
                        <div class='label big'>{{localize  'GURPS.block'}}:</div>
                        <div class='field big rollable' data-otf='{{quotedAttackName 'B' attack}}'>{{level}}</div>
                        <div class='label'>
                            <div>{{{name}}}</div> 
                            <div class='list_note'>{{notes}}</div>
                        </div>
                    {{/if}}                
                </div>
            {{/each}}
        </div>
        <div class= 'Spacer'></div>
    </div>	
    {{>slcs-otf-region OTFs=defenceOTFs type='defence'}}
{{/if}}
<div class="slcs-DR slcs-block gga-table">
    {{#each system.hitlocations}}
        <div class='where'>{{where}}</div>
        <div class='dr'>{{localize  'GURPS.hitLocationDR'}}: {{dr}}{{#each split as | this key |}}<span title='{{localize  key key}}'>/{{this}}{{#if (ne key 'cr')}}*{{/if}}</span>{{/each}}</div>
    {{/each}}
</div>