<div id='slcs-basic-attributes' class="block">
    <div class='fieldblock'>
        <div class='field big rollable' data-path='attributes.ST.value' data-otf='ST'>{{system.attributes.ST.value}}</div>
        <div class='label'>{{i18n 'GURPS.attributesSTNAME'}} ({{i18n 'GURPS.attributesST'}})</div>
        <div class='field big rollable' data-path='attributes.DX.value' data-otf='DX'>{{system.attributes.DX.value}}</div>
        <div class='label'>{{i18n 'GURPS.attributesDXNAME'}} ({{i18n 'GURPS.attributesDX'}})</div>
        <div class='field big rollable' data-path='attributes.IQ.value' data-otf='IQ'>{{system.attributes.IQ.value}}</div>
        <div class='label'>{{i18n 'GURPS.attributesIQNAME'}} ({{i18n 'GURPS.attributesIQ'}})</div>
        <div class='field big rollable' data-path='attributes.HT.value' data-otf='HT'>{{system.attributes.HT.value}}</div>
        <div class='label'>{{i18n 'GURPS.attributesHTNAME'}} ({{i18n 'GURPS.attributesHT'}})</div>
        {{#if useQN}}
            <div class='field big rollable' data-path='attributes.QN.value' data-otf='QN'>{{system.attributes.QN.value}}</div>
            <div class='label'>{{i18n 'GURPS.attributesQNNAME'}} ({{i18n 'GURPS.attributesQN'}})</div>
        {{/if}}
    </div>
</div>