<div id='slcs-conditions' class="block">
  <div class='fieldblock'>

    {{#if (ne system.conditions.maneuver 'undefined')}}
        <div class='label'>{{i18n 'GURPS.maneuver'}}:</div>
        <div class='field details'>
          <details id='maneuver'>
            <summary>
              {{#with (getManeuver system.conditions.maneuver) as |maneuver|}}
                <img class='button' src='{{maneuver.icon}}' title='{{i18n maneuver.label}}' alt='{{maneuver.name}}' />
              {{/with}}
            </summary>
            <div class='popup square5x4'>
              {{#each (listAllManeuvers) as |this key|}}
                <img class='button' src='{{icon}}' title='{{i18n label}}' alt='{{key}}' />
              {{/each}}
            </div>
          </details>
        </div>
    {{/if}}

    <div class='label'>{{i18n 'GURPS.modifierPosture'}}:</div>
    <div class='field details'>
        <details id='posture'>
          <summary>
            {{#with (getPosture system.conditions.posture) as |posture|}}
              <img class='button' src='{{posture.img}}' title='{{i18n posture.name}}' alt='{{posture.id}}' />
            {{/with}}
          </summary>
          <div class='popup square5x4'>
            <img
              class='button'
              src='systems/gurps/icons/statuses/dd-condition-standing.webp'
              title='{{i18n "GURPS.STATUSStanding"}}'
              alt='standing'
            />
            {{#each (listAllPostures) as |this key|}}
              <img class='button' src='{{img}}' title='{{i18n name}}' alt='{{id}}' />
            {{/each}}
          </div>
        </details>
    </div>

    <div class='label' for='move-mode'>{{i18n 'GURPS.moveModeType'}}:</div>
    <div class='field' style='border: none'>
      <select
        id='move-mode'
        style='font-size: 90%; max-width: 14em;'
        {{disabled (lt (length system.move) 2)}}
      >
        {{#each system.move as |this key|}}
          <option value='{{@key}}' {{select-if this.default true}}>{{i18n this.mode this.mode}}</option>
        {{/each}}
      </select>
    </div>

   {{#each hands}}
    <div class='label' for='selectedGrip{{@index}}'>{{name}}:</div>
      <div class='field' style='border: none'>
        <select
          id='selectedGrip{{@index}}'
          class="gripSelect"
          data-index="{{@index}}"
          style='font-size: 90%; max-width: 14em;'
        >
          {{#each ../grips}}
            <option value='{{name}}' {{select-if name ../grip}}>{{name}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}

  </div>
</div>