<div id='slcs-sense-rolls' class="slcs-block">
    <div class='fieldblock'>
        <div class='field big rollable' data-path='vision' data-otf='Vision'>{{system.vision}}</div>
        <div class='label'>{{localize  'GURPS.vision'}}</div>
        <div class='field big rollable' data-path='hearing' data-otf='Hearing'>{{system.hearing}}</div>
        <div class='label'>{{localize  'GURPS.hearing'}}</div>
        <div class='field big rollable' data-path='tastesmell' data-otf='Taste Smell' >{{system.tastesmell}} </div>
        <div class='label'>{{localize  'GURPS.tastesmell'}}</div>
        <div class='field big rollable' data-path='touch' data-otf='Touch'>{{system.touch}}</div>
        <div class='label'>{{localize  'GURPS.touch'}}</div>
    </div>
</div>