    <div id="slcs-{{type}}" class="sortingArea">
        {{#each traits as |cat|}}
            <div class="scls-trait-container">
                <div class='slcs-header'>
                    <div class="slcs-label">{{@key}}</div>
                    <button type="button" title="Add" data-action="addItem" data-category="{{@key}}" data-type="{{../type}}" class="slsc-icon-button">
                        <i class="fas fa-plus"></i>
                    </button>                
                </div>
                <div id="slcs-{{../type}}-{{@key}}" class="slcs-trait-list" data-category="{{@key}}" data-type="{{../type}}">
                    {{#each cat as |item|}}
                        <div class="itemrow" data-category="{{@../key}}" data-index="{{@index}}" data-type="{{../../type}}">
                            <input name='settings.items.{{../../type}}.{{@../key}}' class='slcs-input' type='text' value='{{item}}' />
                            <button type="button" title="Delete" data-action="deleteItem" data-category="{{@../key}}" data-index="{{@index}}" data-type="{{../../type}}" class="slsc-icon-button">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>