{{#if (notEmpty rangedWeapons)}}
    <div id='slcs-ranged-attacks' class='gga-table with-notes slcs-block'>
        <div class='desc header'>{{localize  'GURPS.rangedWeapons'}}</div>
        <div class='usage header'>{{localize  'GURPS.usage'}}</div>
        <div class='level header'>{{localize  'GURPS.level'}}</div>
        <div class='acc header'>{{localize  'GURPS.acc'}}</div>
        <div class='damage header'>{{localize  'GURPS.damage'}}</div>
        <div class='range header'>{{localize  'GURPS.range'}}</div>
        <div class='rof header'>{{localize  'GURPS.rof'}}</div>
        <div class='shots header'>{{localize  'GURPS.shots'}}</div>
        <div class='bulk header'>{{localize  'GURPS.bulk'}}</div>
        <div class='rcl header'>{{localize  'GURPS.rcl'}}</div>

        {{#stripesouter rangedWeapons 'evenOuter' 'oddOuter' 'rangedList'}}
            {{#stripes rangedList 'even' 'odd'}}

                {{#if @first}}
                    <div class='rangeddraggable desc {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}{{#if @last}} last{{/if}}' data-key='system.ranged.{{key}}'>
                        <div class='desc dblclkedit indent{{indent}}'>
                            <div class='gga-desc-text'>{{{gurpslink this.name}}}</div>
                        </div>
                    </div>
                {{else}}
                    <div class='rangeddraggable desc {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}{{#if @last}} last{{/if}}' data-key='system.ranged.{{key}}'>
                    </div>
                {{/if}}

                <div class='usage  flex-center {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}'>
                    <div class='rollable flex-center {{#if (empty notes)}}no-notes{{/if}}'  data-name='{{name}} ({{mode}})' data-key='system.ranged.{{key}}' data-otf='{{quotedAttackName 'R' this}}'>
                      {{#if (eq mode "")}}{{name}}{{else}}{{mode}}{{/if}}
                    </div>
                    {{#if (notEmpty notes)}}
                        <div class='list_note'>{{{gurpslink notes}}}</div>
                    {{/if}}
                </div>
                <div class='level rollable flex-center {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}' data-name='{{name}} ({{mode}})' data-key='system.ranged.{{key}}' data-otf='{{quotedAttackName 'R' this}}'>{{level}}</div>
                <div class='acc gga-right {{gmod this.acc}} {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}' data-name='Acc for {{this.name}}' data-otf='{{{displayNumber this.acc}}} Acc'> {{{displayNumber this.acc showPlus=false}}} </div>
                <div class='slcs-damage flex-center rollable {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}' data-damage data-otf='{{this.damage}}'>{{this.damage}}</div>
                <div class='range flex-center {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}'>{{this.range}}</div>
                <div class='rof gga-right {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}'>{{this.rof}}</div>
                <div class='shots flex-center {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}'>{{this.shots}}</div>
                <div class='bulk gga-right {{gmod this.bulk}} {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}' data-name='Bulk for {{this.name}}' data-otf='{{this.bulk}} Bulk' >{{{displayNumber this.bulk}}} </div>
                <div class='rcl gga-right {{stripeClass}} {{../stripeClass}}{{#if selected}} selected{{/if}}'>{{this.rcl}}</div>
            {{/stripes}}
            {{#if (notEmpty notes)}}
                <div class='list_note'>{{{gurpslink notes}}}</div>
            {{/if}}
        {{/stripesouter}}
    </div>
    {{>speed-range-table}}
    {{>slcs-otf-region OTFs=rangedOTFs type='ranged'}}
{{/if}}