<div class="slcs-block slcs-basic-attributes">
    <div class='fieldblock'>
        <div class='field big rollable' data-path='attributes.ST.value' data-otf='ST'>{{system.attributes.ST.value}}</div>
        <div class='label'>{{localize  'GURPS.attributesSTNAME'}} ({{localize  'GURPS.attributesST'}})</div>
        <div class='field big rollable' data-path='attributes.DX.value' data-otf='DX'>{{system.attributes.DX.value}}</div>
        <div class='label'>{{localize  'GURPS.attributesDXNAME'}} ({{localize  'GURPS.attributesDX'}})</div>
        <div class='field big rollable' data-path='attributes.IQ.value' data-otf='IQ'>{{system.attributes.IQ.value}}</div>
        <div class='label'>{{localize  'GURPS.attributesIQNAME'}} ({{localize  'GURPS.attributesIQ'}})</div>
        <div class='field big rollable' data-path='attributes.HT.value' data-otf='HT'>{{system.attributes.HT.value}}</div>
        <div class='label'>{{localize  'GURPS.attributesHTNAME'}} ({{localize  'GURPS.attributesHT'}})</div>
        <hr />
        <div class = 'doubleField'> 
            <div class='field'>{{system.currentmove}}</div>
            <div class='label '>{{localize  'GURPS.move'}}</div>
            <div class='field'>{{system.basicspeed.value}}</div>
            <div class='label '>{{localize  'GURPS.speed'}}</div>
        </div>
    </div>
</div>