<div id='slcs-modifierlist' class='block'>
    <div>
        {{#each selfModifiers}}
            <div class="effectmod">{{{this}}}</div>
        {{/each}}
    </div>
    {{#if (and (not (empty selfModifiers))(not (empty system.conditionalmods)))}}
        <hr />
    {{/if}}
    <div class='gga-table'>
        {{#each system.conditionalmods}}
            <div class='modifier gmod gga-right' data-name='Modifier {{situation}}' data-otf='{{displayNumber modifier}} {{this.situation}}'>{{{displayNumber modifier}}}</div>
            <div class='situation' data-key='system.conditionalmods.{{@key}}'>{{{gurpslink this.situation}}}</div>
        {{/each}}
    </div>
</div>