{{#if (notEmpty melee)}}
    <div id='slcs-melee-attacks' class='gga-table with-notes block'>
        <div class='desc header'>{{i18n 'GURPS.meleeWeapons'}}</div>
        <div class='usage header'>{{i18n 'GURPS.usage'}}</div>
        <div class='level header'>{{i18n 'GURPS.level'}}</div>
        <div class='damage header'>{{i18n 'GURPS.damage'}}</div>
        <div class='reach header'>{{i18n 'GURPS.reach'}}</div>

        {{#each melee}}
            <div class='meleedraggable' data-key='system.melee.{{key}}'>
                <div class='desc dblclkedit indent{{indent}}'>
                    <div class='gga-desc-text'>{{{gurpslink name}}}</div>
                </div>
            </div>

            <div class='usage rollable flex-center' data-name='{{name}} ({{mode}})' data-key='system.melee.{{key}}'
                data-otf='{{quotedAttackName 'M' this}}'>{{mode}}</div>
            <div class='level rollable flex-center' data-name='{{name}} ({{mode}})' data-key='system.melee.{{key}}'
                data-otf='{{quotedAttackName 'M' this}}'>{{level}}</div>
            <div class='damage rollable flex-center' data-damage data-otf='{{damage}}'>{{damage}}</div>
            <div class='reach flex-center'>{{reach}}</div>
            {{#if (notEmpty notes)}}
                <div class='list_note'>{{{gurpslink notes}}}</div>
            {{/if}}
        {{/each}}
    </div>
{{/if}}